
<h1>Sent</h1>
<table class="table table-hover">
    <thead>
      <tr>
        
        <th scope="col">To</th>
        <th scope="col">Subject</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of list">
        <td>{{m.userreceive.nom}}</td>
        <td>{{m.sujet}}</td>
        <td>{{m.contenu}}</td>
        <td><button class="btn btn-info" (click)="checkMessage(m.id)">Check</button></td>
        <td><button class="btn btn-danger" (click)="deleteMessage(m.id)">Delete</button></td>

      </tr>
   
    </tbody>
  </table>