
<h1>Inbox</h1>
<table class="table table-hover">
    <thead>
      <tr>
        
        <th scope="col">From</th>
        <th scope="col">Subject</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of list |paginate:{itemsPerPage:5,currentPage:p};">
        <td>{{m.usersend.nom}}</td>
        <td>{{m.sujet}}</td>
        <td>{{m.contenu}}</td>
        <td><button class="btn btn-info" (click)="checkMessage(m.id)">More information</button></td>

      </tr>
   
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </table>