<div class="container">
    <h1>
        Message:
    </h1>
    <div class="card">
    <div class="card-header">
       From: {{objet.usersend.nom}}
    </div>
    <div class="card-header">
        To: {{objet.userreceive.nom}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
       <footer class="blockquote-footer">Sujet: <cite title="Source Title">{{objet.sujet}}
    </cite></footer>
        <p>Contenu: {{objet.contenu}}</p>
      </blockquote>
    </div>
  </div>
</div>

